/* Universal Styles */

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
}

h1{
    font-size:3rem;
    letter-spacing:0.3rem;
    line-height: 1.5;
}

h2{
    font-size:2.5rem;
    line-height: 1.5;
}

h3{
    font-size:2rem;
    line-height: 1.5;
}

h4{
    font-size:1.7rem;
    line-height: 1.3;
}

p{
    font-size:1.5rem;
    line-height: 1.5;
}

/* Header styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem;
    background-color: rgb(212,202,189);
}
 header a{
    color:rgb(117, 35, 5);
    font-size:1.5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
 }
 header li {
    display: inline-block;
    padding:0.5rem  1rem;
    margin:0 1rem;
}
@media only screen and (max-width:1090px) {
    header a{
        font-size:1.3rem;
     }
     header li {
        padding:.3rem  .3rem;
    }
}
@media only screen and (max-width:840px) {
    header {

        justify-content: space-evenly;
    }
    header a{
        font-size:1.3rem;
     }
}
/* Motto styling */
.motto{
    height: 50rem;
    background-image: url(../images/nitish-meena-RbbdzZBKRDY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.motto{
    display:flex;
    align-items: center;
    justify-content: center;
}
.motto .content{
    background-color: rgba(255, 255, 255, 0.2);
    padding:1rem;
    border-radius: 1rem;
}
.motto h1{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color:rgba(99,41,20,255);
    opacity:1;
}
@media only screen and (max-width:1550px) {
    .motto .content{
        width:80%;
    }
}

/* inspiration styling */
.inspiration{
    padding:2rem;
    background-color: rgb(212,202,189) ;
}
.inspiration p{
    padding:1rem;
    margin:0rem auto;
    color:rgb(117, 35, 5);
}
.inspiration .image-container {
    width:100%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.inspiration img{
    width:auto;
    height:30rem;
    overflow: hidden;
    padding:1rem;
}

@media only screen and (max-width:1260px){
    .inspiration{
        padding:.5rem 0;

    }
    .inspiration p{
        padding:0.5rem;

    }
    .inspiration .image-container {
        justify-content:center;
    }
    .inspiration img{
        width:45%;
        height:auto;
        overflow: hidden;
        padding:1rem;
    }  
}
@media only screen and (max-width:750px){
    .inspiration{
        padding:.5rem 0;

    }
    .inspiration p{
        font-size: 1.3rem;

    }
    .inspiration .image-container {
        justify-content:center;
    }
    .inspiration img{
        width:100%;
        height:auto;
        overflow: hidden;
        padding:0rem;
        padding-bottom:3rem;
    }  
}
/* Destinations styling */
.destination{
    height:50rem;
    background-image: url(../images/holly-mandarich-UVyOfX3v0Ls-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.destination .content{
    position: relative;
    top:35rem;
    margin: 0 auto;
    max-width:85%;
    background-color: rgba(255, 255, 255, 0.6);
    padding:1rem;
    border-radius: 1rem;
    text-align: center;
}
.destination h2{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(38,58,38);
    opacity:1;
}
@media only screen and (max-width:1260px){
    .destination{
        height:35rem;
    }
    
    .destination .content{
        top:20rem;
        max-width:80%;
        background-color: rgba(255, 255, 255, 0.5);
    }
}
@media only screen and (max-width:750px){
    .destination{
        height:25rem;
    }
    
    .destination .content{
        top:15rem;
        max-width:100%;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .destination h2{
        font-size: 2rem;
    }
}
/* articles styling */
.articles{
    padding:2rem;
    background-color: rgb(212,202,189) ;
}
.articles p{
    padding:1rem;
    margin:0rem auto;
    color:rgb(117, 35, 5);
}
.articles.image-container {
    width:100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.articles img{
    width:auto;
    height: 22rem;
    overflow: hidden;
    padding:1rem;
}
@media only screen and (max-width:1260px){
    .articles{
        padding:1rem;
        background-color: rgb(212,202,189) ;
    }
    .articles p{
        padding:1rem;
        margin:0rem auto;
        color:rgb(117, 35, 5);
    }
    .articles.image-container {
        width:100%;
        flex-direction: column;
    }
    
    .articles img{
        width:90%;
        height:auto;
    }
}
@media only screen and (max-width:750px){
    .articles{
        padding:0;
    }
    .articles p{
        padding:1rem;
    }
    .articles.image-container {
        padding:0;
    }
    .articles img{
        width:100%;
        height:auto;
        padding:0;
    }
}
/* tips styling */
.tips{
    padding:2rem;
    background-color: rgba(117, 35, 5, 0.7) ;
}
.tips h3{
    padding:1rem;
    font-weight: bold;
    margin:0rem auto;
    color:rgb(212,202,189);
}
.tips.image-container {
    width:100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tips img{
    width:auto;
    height:30rem;
    overflow: hidden;
    padding:1rem;
}
@media only screen and (max-width:1260px){
    .tips{
        padding:2rem;
    }
    .tips h3{
        padding:.5rem;
        font-weight: normal;
    } 
    .tips img{
        width:45%;
        height:auto;
        overflow: hidden;
        padding:1rem;
    }
}
@media only screen and (max-width:780px){
    .tips{
        padding:2rem 0;
    }
    .tips h3{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    } 
    .tips img{
        width:100%;
        height:auto;
        overflow: hidden;
        padding:0.5rem 0;
    }
}
/* invitation styling */
.invitation{
    height:25rem;
    background-image: url(../images/samuele-errico-piccarini-MCroQe9ykmM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.invitation{
    display:flex;
    align-items: center;
    justify-content: center;
}

.invitation .content{
    background-color: rgba(255, 255, 255, 0.6);
    padding:1rem;
    border-radius: 1rem;
}
.invitation h2{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(14,39,48);
    opacity:1;
}
@media only screen and (max-width:1260px){
    .invitation{
        height:20rem;
    }
    .invitation .content{
        width:80%;
        padding:0.75rem;
    }
    .invitation h2{
        font-size: 2rem;
    }
}
@media only screen and (max-width:780px){
    .invitation{
        height:15rem;
    }
    .invitation .content{
        width:80%;
        padding:0.5rem;
    }
    .invitation h2{
        font-size: 1.5rem;
    }
}

/* footer styling */
footer {
    background-color:rgb(14,39,48);
    color:rgb(200,196,199);
    font-family: 'Courier New', Courier, monospace;
}
footer h5{
margin-top:1rem;
}
footer .content{
    padding:1rem;
}